h3 회원가입이 완료 되었습니다.
a <디버그 창 회원 정보 DB insert 후 다시 select 한 문장>
 div(style='width:200px; height:200px; overflow:auto; border:1px solid #BF0;')
  ul
    li 이름 : #{username}
    li 이메일 : #{useremail}
    li 별명 : #{usernickname}
    li 계급 : #{userlevel}
    li 토탈 스코어 : #{usertotalscore}

    a(href='/') 로그인 창으로 이동
